<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Precio</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td>{{this.description}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>