if productos.length
    table(class="table")
        thead
            tr
                th(scope="col") #
                th(scope="col") Título
                th(scope="col") Precio
                th(scope="col") Descripción
        tbody
            each pr in productos
                tr
                    th(scope="row")=pr.id
                    td=pr.title
                    td="$"+pr.price
                    td
                        img(width="135" height="200" src=""+pr.thumbnail)
else 
    p No hay productos para mostrar