{{>navbar}}

<div class="container">
    <h1>Ingrese un producto</h1>
    {{>form}}
    <button type="button" class="btn btn-primary"> <a href="/productos" style="color:white">Ir a mis productos</a> </button>
</div>

