{{>navbar}}

<div class="container">
    <h1>Mis productos</h1>
    {{>table}}
    <button type="button" class="btn btn-primary"> <a href="/" style="color:white">Ir a formulario</a> </button>
</div>

