<form action="/productos" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Título</label>
      <input type="text" class="form-control" id="title" placeholder="La Naranja Mecánica">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" class="form-control" id="price">
    </div>
    <div class="mb-3">
      <label for="thumbnail" class="form-label">Imagen</label>
      <input type="text" class="form-control" id="thumbnail" placeholder="Link de la imagen">
    </div>
    <input type="submit" class="btn btn-success" value="Cargar producto">
</form>